@import url('https://fonts.googleapis.com/css2?family=Karantina:wght@300;400;700&family=Lalezar&family=Marvel:ital,wght@0,400;0,700;1,400;1,700&display=swap');



.bob {
    animation: bobbing 5s ease-in-out infinite; 
}

@keyframes bobbing {
    0% {
        transform: translateY(0); 
    }
    10% {
        transform: translateY(-10px); 
    }
    20% {
        transform: translateY(0); 
    }
    100% {
        transform: translateY(0); 
    }
}

.btn-clr {
    background: linear-gradient(60deg, #901aa8, #4121b7);
}

.btn-clr:hover {
    background: white;
    color: black;
    transition-duration: 0.3s;
}

.btn-clr2 {
    background-color: black;
}

.btn-clr2:hover {
    background: white;
    color: black;
    transition-duration: 0.3s;
}

.navbtn {
    background: white;
    border: 1px solid black;
    color: black;
    transition-duration: 0.3s;
}

.navbtn:hover {
    background: black;
    border: 1px solid white;
    color: white;
    transition-duration: 0.3s;
}

.orgteambg {
    background: linear-gradient(60deg, #3f1c4f, #9c1fd1);
}

.orgteambg2 {
    background: linear-gradient(60deg, #4E20D0, #291C4F);
}

.footerbg {
    background: #1a1a1a;
}

.bgbackimg {
    background: url('/bgbgpng.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bgbackop {
    background-color: rgba(0, 0, 0, 0.5);
}
