@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

  body, html {
    background: linear-gradient(60deg, #56183f, #402c8a);
    background-size: 100% 100%;
    height: 100vh;
    margin: 0;
  }


  